* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}


#Search{
    border-radius: 20px;
    height: 10px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}



#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #6F6AF7;
    flex-direction: row;
    justify-content: space-around;
    height: 60PX;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    z-index: 999;
}

#site_logo{
    font-family: "Delius Unicase", cursive;;
    font-size: 32px;
    font-weight: 600;
    color:white;
    margin: 0;
}

#header{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20vh;
    
}

#header_image{
    background-color: #6F6AF7;
    border-radius: 20px;
    height: 500px;
    width: 30vw;
    margin-right: 40px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

#headerTextArea{
   height: 500px;
   width: 70vw;
   background-color: #E5D8FF;
   border-radius: 20px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.3);
   box-shadow: inset 0 3px 4px rgba(0,0,0,0.3);
   padding: 10px;
}

#headerTextArea::placeholder{
    color: grey;
    font-size: 18px;
}

#card_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
    
}

#main_container{
    display: flex;
    top: 80px;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    gap: 30px;
    margin-top: 12vh;

}

#info_section{
    background-color: #483EFF;
    mix-blend-mode: lighten;
    margin: 60px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 120px;
}

#textarea {
    height: 600px;
    width: 70vw;
    background-color:white;
    margin-left: 30px;
    border-radius: 20px;
    padding: 20px;
}

#contact_us {
  float: right;
  position: sticky;
  top:12vh;
  margin-top: 15vh;
  z-index: 998;
}

#contact_us>img{
    display: block;
    width: 80px;
    height:80px;
    margin-bottom: 5px;
    border: 4px solid black;
    border-radius: 10px;
}


#button_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#hamburger{
    height: 45px;
    width: 45px;
}

#card1{
  background-color: #929DFF;

  
}

#card2{
background-color: #734CF2;
}

#card3{
background-color: #D288FF;
}

#card4{
background-color: #000;
}

#textarea>h1{
    font-weight: 500;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
}

#textarea>p{
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 2.5;
    margin-left: 15px;
}
.next_button{
    float: right;
    position: relative;
    top:20%;
    background-color: #000;
    border-radius: 10px;
    width: 180px;
    height: 70px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}


.card{
background-color: #6F6AF7;
height: 150px;
width: 300px;
border-radius: 20px;
padding: 30px;
box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.navitem{
    font-size: 25px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 20px;
}

.info_button{
    font-size: 30px;
    border: 3px solid white;
    color: white;
    border-radius: 10px;
    height: 100px;
    width: 20vw;
    background-color: transparent;
    box-shadow: 0 5px 8px rgba(0,0,0,0.2);
}

#your_info{
    background-color: #BCE0F6;
    border: none;
    color: #000;
}

.card_text{
    color:white;
    font-size: 25px;
    font-family: "DM Sans", sans-serif;
    margin-top: 5px;
}

.icon{
    height: 80px;
    width: 80px;
}

.chat_bot{
    float: right;
    position: fixed;
    bottom: 5px;
    right: 90px;
}